.DS_Store
*.pyc
__pycache__
.python-version
HISTORY.md

.vscode/

# packaging build artefacts
*.egg-info/
dist/
build/

# virtual environments
venv/
.venv/

# keep these
!requirements.txt
!credentials.stub.json
!webdav.json
